@if (notification$ | async; as notification) {

    @if (notification.action) {

        <div class="overlay"></div>

    }

    <div
        class="notification"
        [ngClass]="[
            notification.appearance.toLowerCase().replace('_', '-'),
            notification.type.toLowerCase()
        ]">

        <div class="icon">

            @switch(notification.type){

                @case('SUCCESS'){ ✓ }

                @case('INFO'){ ℹ }

                @case('WARNING'){ ⚠ }

                @case('ERROR'){ ✕ }

            }

        </div>

        <div class="message">

            {{ notification.message }}

        </div>

        @if(notification.action){

            <button
                class="action"
                (click)="close()">

                {{ notification.action }}

            </button>

        }

    </div>

}