<header
        class="navbar"
        [class.scrolled]="isScrolled">

    <div class="container">

        <div class="logo">

            ShivaAI

        </div>

        <nav>

            <a href="#">Features</a>

            <a href="#">Models</a>

            <a href="#">Pricing</a>

            <a href="#">GitHub</a>

        </nav>

        <div class="actions">

            <button class="login">

                Login

            </button>

            <button class="started">

                Get Started

            </button>

        </div>

    </div>

</header>